@import "tailwindcss";

/* 1. Делаем фон всей страницы черным на уровне браузера */
html,
body {
  background-color: #050505; /* Тот же цвет, что в App.tsx */
  margin: 0;
  padding: 0;
  /* Убираем лишние отступы, которые могут давать белые полосы */
  min-height: 100%;
}

/* 2. Плавный скролл по якорям (когда жмешь на Work или Stack) */
html {
  scroll-behavior: smooth;
}

/* 3. Отключаем горизонтальный скролл, если что-то вылезет за край */
body {
  overflow-x: hidden;
}
